<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.svg" type="image/x-icon">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>Chatter</title>
</head>

<body>
    <div class="nav_section">
        <div class="left_side">
            <img src="img/logo.svg" alt="">
            <p>Chatter</p>
        </div>
    </div>

    <section class="mid_section">

        <div class="mid_left_section">
            <div class="info">
                <p>Introducing Chatter where you can Meet, chat, call, and collaborate in just one place.</p>
            </div>

            <div class="mid_btn_section btn">
                <button class="create_room_btn btn" id="samp"><a href="/create_room">Create Room</a></button>

                <div class="join_btn">
                    <label for="input_link"></label>
                    <input id="input_link" type="text" name="input_link" placeholder="Enter Room Link">
                    <button id="join_btn" onclick="getInputLink();">Join</button>
                </div>
            </div>
        </div>

        </div>

        <div class="mid_right_section">
            <img src="img/Videoconference.jpg" alt="">
            <!-- <img src="img/Videoconference.png" alt=""> -->
        </div>

    </section>

    <footer>
        <div>
            <p>
                © Team Chatter
            </p>
        </div>
    </footer>

</body>

</html>